{% extends 'base.html' %} {% load static %} {% block title %}Cart{% endblock %}
{% block content %}

<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="site-blocks-table">
          <table class="table">
            {% if cartitems %}
            <thead>
              <tr>
                <th class="product-thumbnail">ID</th>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for cartItem in cartitems %}
              <tr id="cart-item-{{ cartItem.item.id }}">
                <td>{{ cartItem.item.id }}</td>
                <td class="product-thumbnail">
                  <img
                    src="{{ cartItem.item.image.url }}"
                    alt="Image"
                    class="img-fluid"
                  />
                </td>
                <td class="product-name">{{ cartItem.item.name }}</td>
                <td>${{ cartItem.item.price }}</td>
                <td>
                  <button class="minus" data-item-id="{{ cartItem.item.id }}">
                    -
                  </button>
                  <input
                    type="number"
                    id="quantity-{{ cartItem.item.id }}"
                    value="{{ cartItem.quantity }}"
                    min="1"
                    style="width: 50px"
                    class="quantity-input"
                    data-item-id="{{ cartItem.item.id }}"
                  />
                  <button class="plus" data-item-id="{{ cartItem.item.id }}">
                    +
                  </button>
                </td>
                <td>
                  $<span
                    id="total-{{ cartItem.item.id }}"
                    data-price="{{ cartItem.item.price }}"
                    >{{ cartItem.get_total_price }}</span
                  >
                </td>
                <td>
                  <a
                    href="/"
                    class="btn btn-black btn-sm remove-item"
                    data-item-id="{{ cartItem.item.id }}"
                    ><i class="fa fa-trash text-danger"></i></a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
            <div
              class="d-flex justify-content-center align-items-center flex-column py-5"
            >
              <h1 class="h1 text-black text-center">Empty Cart</h1>
              <p>
                <a href="/shop" class="text-black text-center h5"
                  >Keep shopping</a
                >
              </p>
            </div>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
    {% if cartitems %}
    <div class="row justify-content-end">
      <div class="col-lg-4">
        <div class="total">
          <ul class="list-unstyled">
            <li>Subtotal <span id="cart-subtotal">$0.00</span></li>
          </ul>
          <p>
            <a href="/checkout" class="btn btn-primary text-white">Proceed to Checkout</a>
          </p>
        </div>
      </div>
    </div>
    
    {% endif %}
  </div>
</div>

{% endblock %}
