{% extends 'user-dashboard-base.html' %} 
{% load static %}
{% block title%}Login{% endblock %} 


{% block content %}

<main>
    <h1 style="margin-bottom: 30px;">Sales & Performance</h1>

    <h2>Insights</h2>
    <div class="insights">
        <div class="sales">
          <span class="material-icons-sharp">analytics</span>
          <div class="middle">
            <div class="left">
              <h3>Personal Sales</h3>
              <h1>$25,024</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>81%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <!-- end of sales -->
   
        <div class="expenses">
          <span class="material-icons-sharp">bar_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Team Sales</h3>
              <h1>$124,160</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>62%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <!-- end of expenses -->
   
        <div class="income">
          <span class="material-icons-sharp">stacked_line_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Total Income</h3>
              <h1>$150,864</h1>
            </div>
            <div class="progress">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 Hours</small>
        </div>
        <!-- end of income -->
        <div class="expenses">
            <span class="material-icons-sharp">bar_chart</span>
            <div class="middle">
              <div class="left">
                <h3>Ranking</h3>
                <h1>Silver</h1>
              </div>
              
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>
          <!-- end of expenses -->

          <div class="expenses">
            <span class="material-icons-sharp">analytics</span>
            <div class="middle">
              <div class="left">
                <h3>PV </h3>
                <h1>$124,160</h1><br>
                <p>of</p>
                <h1>$150,663</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                  <p>62%</p>
                </div>
              </div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>
          <div class="expenses">
            <span class="material-icons-sharp">analytics</span>
            <div class="middle">
              <div class="left">
                <h3>BV </h3>
                <h1>$154,160</h1><br>
                <p>of</p>
                <h1>$200,663</h1>
              </div>
              <div class="progress">
                <svg>
                  <circle cx="38" cy="38" r="36"></circle>
                </svg>
                <div class="number">
                  <p>62%</p>
                </div>
              </div>
            </div>
            <small class="text-muted">Last 24 Hours</small>
          </div>

          
      </div>
      <div class="recent-orders">
        <h2>Performance Bonuses</h2>
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
   
          <tbody>
            <tr>
              <td>Bonus 1</td>
              <td class="success">Earned</td>
            </tr>
            <tr>
              <td>Bonus 2</td>
              <td class="warning">Upcoming (75% complete)</td>
            </tr>
          </tbody>
        </table>
        <a href="#">Show All</a>
      </div>
      <div class="recent-orders">
        <h2>Leaderboard</h2>
        <table>
          <thead>
            <tr>
              <th>Position</th>
              <th>User</th>
              <th>Earnings</th>
            </tr>
          </thead>
   
          <tbody>
            <tr>
              <td>1</td>
              <td>User A</td>
              <td>$12,763</td>
            </tr>
            <tr>
              <td>2</td>
              <td>User B</td>
              <td>$12,333</td>            
            </tr>
            <tr>
              <td>3</td>
              <td>You</td>
              <td>$12,112</td>
            </tr>
          </tbody>
        </table>
        <a href="#">Show All</a>
      </div>
</main>
<div class="right">
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
      <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
      </div>
      <div class="profile">
        <div class="info">
          <p>Hey <b>Daniel</b></p>
          <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
          <img src="{% static './images/profile-1.jpg' %}" />
        </div>
      </div>
    </div>
    <!-- END OF TOP -->
    <div class="recent-orders">
      <h2>Order History</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Payment</th>
            <th>Status</th>
          </tr>
        </thead>
 
        <tbody>
          <tr>
            <td>Foldable Mini Drone</td>
            <td>85631</td>
            <td>Received</td>
            <td class="success">Completed</td>
          </tr>
        </tbody>
      </table>
      <a href="#">Show All</a>
    </div>
   
    
  </div>
{% endblock %}