{% extends 'user-dashboard-base.html' %} 
{% load static %}
{% block title%}Login{% endblock %} 


{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabbed Components</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
  <main>
    <h2>Account settings</h2>

<div class="container">
    <div class="tab-buttons">
        <button class="tab-button">General</button>
        <button class="tab-button">Change password</button>
        <button class="tab-button">Info</button>
        <button class="tab-button">Social links</button>
        <button class="tab-button">Notifications</button>
    </div>


    <div class="tab-content active">
      <div class="page general-page">
        <div>
          <label>Username</label>
          <input type="text" placeholder="nmaxwell">
        </div>

        <div>
          <label>Name</label>
          <input type="text" placeholder="Nelle Maxwell">
        </div>

        <div>
          <label>E-mail</label>
          <input type="text" placeholder="nmaxwell@gmail.com">
        </div>

        <div>
          <label>Company</label>
          <input type="text" placeholder="Company Ltd.">
        </div>
      </div>
    </div>


    <div class="tab-content">
      <div class="page change-password-page">
        <label>Current password</label>
        <input type="text">
  
        <label>New password</label>
        <input type="text">
  
        <label>Repeat new password</label>
        <input type="text">
      </div>
    </div>

    <div class="tab-content">
      <div class="page info-page">
        <label>Bio</label>
        
        <label>Birthday</label>
        <input type="text" placeholder="May 3, 1995">
  
        <label>Country</label>
        <input type="text" placeholder="Canada">
  
        <h3>Contatcs</h3>
  
        <label>Phone</label>
        <input type="text" placeholder="+0 (123) 456 7891">
  
        <label>Website</label>
        <input type="text">
      </div>
    </div>

    <div class="tab-content">
      <div class="page social-links">
        <label>Twitter</label>
        <input type="text" placeholder="https://twitter.com/user">
  
        <label>Facebook</label>
        <input type="text" placeholder="https://www.facebook.com/user">
  
        <label>Google+</label>
        <input type="text">
  
        <label>LinkedIn</label>
        <input type="text">
  
        <label>Instagram</label>
        <input type="text" placeholder="https://www.instagram.com/user">
      </div>
    </div>



    <div class="tab-content">
      <div class="page notifcations-page">
        <h2>Activity</h2>
  
        <div>
          <input type="checkbox"> 
          <span>Email me when someone comments on my article</span>
        </div>
  
        <div>
          <input type="checkbox">
          <span>Email me when someone answers on my forum thread</span>
        </div>
  
        <div>
          <input type="checkbox">
          <span>Email me when someone follows me</span>
        </div>
        
        
        <h2>Application</h2>

        <div>
          <input type="checkbox">
          <span>News and announcements</span>
        </div>
        
        <div>
          <input type="checkbox">
          <span>Weekly product updates</span>
        </div>
  
        <div>
          <input type="checkbox">
          <span>Weekly blog digest</span>
        </div>
      </div>
    </div>
</div>
  </main>

  <div class="right">
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
      <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
      </div>
      <div class="profile">
        <div class="info">
          <p>Hey <b>Daniel</b></p>
          <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
          <img src="{% static './images/profile-1.jpg' %}" />
        </div>
      </div>
    </div>
    <!-- END OF TOP -->
   
    
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>

{% endblock %}
